<app-header headerLogin="true"></app-header>

<div class="container">

    <div class="row">
        <div class="col-sm-12 col-md-6 offset-md-3 mt-3">
            <mat-card>
                <mat-card-header>
                    <div class="text-center w-100">
                        <mat-card-title>Start Sesion</mat-card-title>
                    </div>
                </mat-card-header>
                <mat-card-content>
                    <div class="row">
                        <div class="col-sm-12 col-md-9 offset-md-2 mt-3">
                            <mat-form-field class="w-100">
                                <mat-label>Email</mat-label>
                                <input matInput type="text" #inputEmal value="">
                                <!-- <button mat-button matSuffix mat-icon-button aria-label="Clear">
                                  <mat-icon>close</mat-icon>
                                </button> -->
                              </mat-form-field>
                        </div>
                        <div class="col-sm-12 col-md-9 offset-md-2 mt-3">
                            <mat-form-field class="w-100">
                                <mat-label>Password</mat-label>
                                <input matInput type="text" value="">
                                <!-- <button mat-button matSuffix mat-icon-button aria-label="Clear">
                                  <mat-icon>close</mat-icon>
                                </button> -->
                              </mat-form-field>
                        </div>
                        <div class="col-sm-12 col-md-6 offset-md-2 mt-3">
                            <button routerLink="/pages/home" mat-raised-button color="primary">Login</button>
                        </div>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>